.card-container{
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  padding-right: 20px;
}
.card-img-wrapper{
  flex: 4;
}
.card-img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  aspect-ratio: 5 / 3;
  object-fit: cover;
}
.card-infos{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-address{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}
.card-price{
  background-color: rgb(248, 212, 121);
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}
.card-others{
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-utility{
  display: flex;
  align-items: center;
  background-color: rgb(226, 226, 226);
  gap: 5px;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.75rem;
}
.card-btn-wrapper{
  display: flex;
  margin-left: auto;
  gap: 10px;
}
.card-btn{
  border: 1px solid #858585;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.card-icon{
  width: 15px;
  height: 15px;
}