.home-search{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.home-search-btn{
  background-color: transparent;
  border: 0.5px solid black;
  padding: 1rem 1.5rem;
  border-bottom: none;
}
.buy-btn{
  border-right: none;
  border-top-left-radius: 5px;
}
.rent-btn{
  border-top-right-radius: 5px;
}
.active{
  background-color: black;
  color: white;
}
.home-search-container{
  display: flex;
  height: 50px;
}
.home-search-input{
  width: 125px;
  border: solid black 0.5px;
  text-indent: 5px;
  padding-right: 5px;
  outline: none;
}
.mid-input{
  border-left: 0;
  border-right: 0;
}
.home-search-input:focus{
  outline: none;
  border: solid rgb(13, 107, 0) 1.5px;
}
.left-hidden{
  border-left: none;
}
.right-hidden{
  border-right: none;
}
.top-hidden{
  border-top: none;
}
.bot-hidden{
  border-bottom: none;
}
.home-search-icon-wrapper{
  flex-grow: 1;
  background-color: rgb(246, 202, 90);
  border: 0.5px solid black;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 125px;
}
.home-search-icon{
  height: 60%;
}
@media (width <= 1024px){
  .home-search{
    padding-right: 0;
  }
  .home-search-input{
    width: 175px;
  }
  .home-search-icon-wrapper{
    max-width: 175px;
  }

}
@media (width <= 768px){
  .home-search-input{
    width: 125px;
  }
  .home-search-icon-wrapper{
    max-width: 125px;
  }
}
@media (width <=500px){
  .home-search-container{
    flex-direction: column;
    height: auto;
  }
  .home-search-input{
    height: 50px;
    width: 100%;
  }
  .mid-input{
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-top: none;
    border-bottom: none;
  }
  .home-search-icon-wrapper{
    border-left: 0.5px solid black;
    border-top: none;
    align-self: center;
    width: 100%;
    max-width: none;
  }
}