.home-search{
  display: flex;
  flex-direction: column;
}
.home-search-btn{
  background-color: transparent;
  border: 0.5px solid black;
  padding: 1rem 1.5rem;
  border-bottom: none;
}
.buy-btn{
  border-right: none;
  border-top-left-radius: 5px;
}
.rent-btn{
  border-top-right-radius: 5px;
}
.home-search-container{
  display: flex;
  height: 50px;
}
.home-search-input{
  width: 125px;
  border: solid black 0.5px;
  text-indent: 5px;
  padding-right: 5px;
}
.home-search-input:focus{
  outline: none;
  border: solid rgb(13, 107, 0) 1px;
}
.home-search-icon-wrapper{
  flex-grow: 1;
  background-color: rgb(246, 202, 90);
  border: 1px solid black;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.home-search-icon{
  height: 60%;
}
.mid-input{
  border-left: 0;
  border-right: 0;
}