.navbar{
  background-color: aliceblue;
  border-bottom: 1px solid rgb(161, 161, 161);
  font-size: 1.25rem;

  a{
    cursor: pointer;
    transition: all 0.2s ease-in;
  
    &:hover{
      scale: 1.05;
    }
  } 
}
.navbar-wrapper{
  display: flex;
  align-items: center;
}
.navbar-left{
  flex: 3;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-logo-img{
  width: 32px;
}
.navbar-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}
.navbar-link-item{
  transition: all 0.2s ease-in;
  
   &:hover{
    scale: 1.1;
   }
}
.navbar-right{
  flex: 2;
  display: flex;
  justify-content: end;
  background-color: rgb(251, 248, 221);
  padding: 10px;
}
.navbar-btn{
  border: none;
  padding: 0.5rem 1rem;
  background-color: inherit;
  font-size: inherit;
}
.sign-up{
  background-color: rgb(255, 231, 97);
  border-radius: 5px;
  cursor: pointer;
}