.searchPage{
  display: flex;
  height: 100vh;
}
.search-container{
  flex: 3;
  padding-top: 20px;
}
.search-container-wrapper{
  height: 100%;
  overflow-y: scroll;
}
.map-container{
  flex: 2;
  padding: 10px;
  background-color: rgb(251, 248, 221);
}
.card + .card{
  margin-top: 20px;
}
@media (width <= 1024px){
  .map-container{
    display: none;
  }
}