.home-wrapper{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 61px);
}
.home-left{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.home-title{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-right: 70px;
}
.home-title-header{  
  font-size: 3rem;
}
.home-title-text{
}
.home-texts{
  font-size: 1.2rem;
  display: flex;
  gap: 100px;
}
.home-right{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(251, 248, 221);
  padding: 10px;
}
.home-bg-img{
  position: absolute;
  width: 115%;
  right: 0;
}
@media(width <=1024px){
  .home-right{
    display: none;
  }
  .home-title{
    padding-right: 0;
  }
  .home-search-container{
    padding-right: 0;
  }
}